aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
async-timeout==5.0.1
attrs==25.1.0
biopython==1.85
certifi==2025.1.31
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1724954795561/work
charset-normalizer==3.4.1
click==8.1.8
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1731428368116/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
distro==1.9.0
dnspython==2.7.0
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.8
fastapi-cli==0.0.7
filelock==3.17.0
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1738940364185/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
frozenlist==1.5.0
fsspec==2025.2.0
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1734532871631/work
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459273855/work
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
munkres==1.1.4
networkx==3.4.2
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1739425611207/work/dist/numpy-2.2.3-cp310-cp310-macosx_11_0_arm64.whl#sha256=5d223049a73daf7f677e4cc2cf10baf7da2ce9b619fe9f66f2ee5b24cb9898f8
openai==1.65.2
orjson==3.10.15
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878435917/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929731714/work
propcache==0.3.0
pycairo==1.27.0
pydantic==2.10.6
pydantic-extra-types==2.10.2
pydantic-settings==2.8.1
pydantic_core==2.27.2
Pygments==2.19.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv==1.0.1
python-multipart==0.0.20
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML==6.0.2
rdkit @ file:///Users/runner/miniforge3/conda-bld/rdkit-meta_1738334426463/work
reportlab @ file:///Users/runner/miniforge3/conda-bld/reportlab_1739375665929/work
requests==2.32.3
rich==13.9.4
rich-toolkit==0.13.2
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1687519531733/work
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio==1.3.1
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1738913173239/work
starlette==0.45.3
sympy==1.13.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typer==0.15.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
ujson==5.10.0
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692581912/work
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
watchfiles==1.0.4
websockets==15.0
yarl==1.18.3
